<div class="input-field select-input {{ field.required|default(false) ? 'required' : '' }}">
  {% if field.icon is defined %}
    <i class="material-icons {{ field.icon }} prefix"></i>
  {% endif %}

  <select name="data[{{ field.name }}]" {% if field.multiple is defined %}multiple{% endif %}>
    {% if field.placeholder is defined %}
      <option value="" disabled selected>{{ field.placeholder|raw }}</option>
    {% endif %}

    {% for option in field.values %}    
      <option value="{{ option.value }}" 
        {% if elementValue == option.value or not elementValue and option.selected is defined and not field.placeholder is defined %}selected{% endif %}>{{ option.label|raw }}</option>
    {% endfor %}
  </select>
  
  {% set errorMsg = fields.errorMsg|default('Veuillez choisir une option') %}

  {% if field.label is defined and field.label != "undefined" %}
    <label><span class="to-html">{{ field.label|raw }}</span>{% if field.required|default(false) %}<span class="mandatory-asterisk"></span>{% endif %}<span class="error">{{ errorMsg }}</span></label>
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
      $('select[name={{ field.name }}]').material_select();
    });
  </script>
</div>