@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Bold.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Bold.woff2') format('woff2'),
        url('Ubuntu-Bold.woff') format('woff'),
        url('Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Regular.woff2') format('woff2'),
        url('Ubuntu-Regular.woff') format('woff'),
        url('Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Light.eot');
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Light.woff2') format('woff2'),
        url('Ubuntu-Light.woff') format('woff'),
        url('Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

