{% if elementsUserHaveContributed|length > 0 %}
<h2>Autres fiches auxquelles j'ai contribué</h2>
  <table class="bordered">
    <thead>
      <tr>
          <th>Fiche</th>
          <th class="status">Status</th>
          <th class="owner">Propriétaire</th>
          <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for element in elementsUserHaveContributed %}
        <tr>
          <td>
            <a href="{{ path('biopen_directory_showElement', {'id': element.id, 'name': element.name}) | replace({"%23":'#'}) }}">{{ element.name }}</a>
          </td>
          <td>{{ elementStatus[element.status] }}</td>
          <td>
            {% if element.userOwnerEmail %}
              {{ element.userOwnerEmail == app.user.email ? "Moi" : element.userOwnerEmail }}
            {% elseif element.isValid %}
              <a href="#" class="" onclick="openConfModal('{{ element.id }}')">Devenir Propriétaire</a>
            {% endif %}
          </td>
          <td>
            {% if app.user.isAdmin
                  or app.user.hasRole('ROLE_DIRECTMODERATION_EDIT_OWN_CONTRIB') and (element.isValid or element.isPending) %}
              <a href="{{ path('biopen_element_edit', {'id': element.id}) }}">
                <button class="btn-biopen btn-secondary small waves-light waves-effect btn">Editer</button>
              </a>
            {% elseif element.isValid or element.isPending %}
              <a href="{{ path('biopen_directory_showElement', {'id': element.id, 'name': element.name}) | replace({"%23":'#'}) }}">
                <button class="btn-biopen btn-primary small waves-light waves-effect btn">Voir</button>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<!-- Modal Structure -->
<div id="become-owner-confirmation-modal" class="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>Pour devenir propriétaire d'une fiche, vous devez certifier participer à la gestion de cette structure</p>
  </div>
  <div class="modal-footer">
    <a href="#!" id="become-owner-confirmation-btn" class="modal-action modal-close waves-effect waves-green btn btn-primary">Je confirme</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="color: inherit;">Annuler</a>
  </div>
</div>

<script>
  function openConfModal(id) {
    var url = "{{ path('biopen_user_become_owner', {'id' : 'ID'}) }}";
    var elementUrl = url.replace('ID', id);
    $('#become-owner-confirmation-btn').attr('href', elementUrl);
    $('#become-owner-confirmation-modal').openModal();
  }
</script>